<h3>This is post-card</h3>
<div class="card margin">
    <img src="{{url}}" style="width:100%">
    <div class="container">
      <h3><b>{{title}}</b></h3>
      <h5><span class="opacity">{{created}}</span></h5>
    </div>
    <div class="container">
      <p>{{body}}</p>
    </div>
    {{!-- <button type="button" {{action 'deletePost' post}}>Delete</button> --}}
</div>